@tailwind base;
@tailwind components;
@tailwind utilities;


input {
  @apply border border-black
}

button[type="submit"],
button {
  @apply bg-pink-400 px-2 py-1 rounded-xl hover:bg-pink-700 hover:text-white transition disabled:bg-opacity-40 disabled:pointer-events-none
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
